body {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 3.5em;
  color: white;
  padding: 3px;
  margin: 0px;
}

.App-title {
  font-size: 1.5em;
  margin: 0px;
  padding: 5px;
}

.App-intro {
  font-size: large;
}


td.timeCol {
  width: 14%;
}

hr {
  border-color: white;
}

td.day9 {
  background-color: darkblue;
}

td.day10 {
  background-color: darkgreen;
}

td.day11 {
  background-color: darkviolet;
}

td.day12 {
  background-color: darkgoldenrod;
}
