body {
  margin: 0px;
  padding: 0px;

  background-color: rgb(34, 34, 34);
}

.App {
  text-align: center;

  overflow: auto;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 3.5em;
  color: white;
  padding: 3px;
  margin: 0px;
}

.App-title {
  font-size: 1.5em;
  margin: 0px;
  padding: 5px;
}

.App-intro {
  font-size: large;
}


td.timeCol {
  width: 14%;
}

hr {
  border-color: white;
}

td.day9 {
  background-color: darkblue;
}

td.day10 {
  background-color: darkgreen;
}

td.day11 {
  background-color: darkviolet;
}

td.day12 {
  background-color: darkgoldenrod;
}

td.talk-col {
  padding: 0;
}

div.talk-divider {
  border-bottom: 1px solid white;
}

div.talk-title {
  padding: .75em;
}
input.talk-check {
  float: left;
}

.event-list-dialog {
  text-align: left;
}

@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility: collapse;
  }
  div.print-section, div.print-section * {
    visibility:visible;
  }
  div.print-section {
    position:absolute;
    left:0;
    top:0;
  }
}